.documentation {
    text-shadow: rgba(255, 255, 255, 0.746094) 0 1px 0;
}

.changelogItem:before {
    color: #ccc !important;
}
.paramGroup .header {
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.paramGroup .meta {
    float: right;
    margin-left: 20px !important;
}

.paramGroup .extra {
    font-weight: 400;
}
