.liHeader {
    display: inline-block;
    margin: 0;
}

.tocList {
    counter-reset: item;
    list-style: none;
    padding-left: 12px;
}

.tocList1 {
    list-style-type: none !important;
    padding-left: 0 !important;
}
