.ui.steps .step .title {
    color: rgba(0, 0, 0, .87) !important;
}

.ui.steps {
    margin-bottom: 1em !important;
}

.infomap textarea {
    resize: none !important;
}

.infomap textArea:focus {
    border: 1px solid hsl(206, 73%, 47%) !important;
}

.infomap .topButton {
    margin-bottom: 1em !important;
}

.topDropdown {
    margin-bottom: 1em !important;
    text-align: center !important;
}

.output {
    padding: 0 !important;
    border: none !important;
}

.output textarea {
    height: calc(500px - 37.15px);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.infomap .four.wide.column .attached.menu {
    border-bottom-width: 0 !important;
}

.network textarea {
    min-height: 500px;
}

.inputParameters {
    margin-bottom: 1em !important;
}

.inputParameters input {
    height: 36px !important;
    border: 1px solid hsl(206, 63%, 77%) !important;
}

.inputParameters input:focus {
    border: 1px solid hsl(206, 73%, 47%) !important;
}

.inputParameters button {
    margin-right: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.inputParameters .prompt {
    top: -3em;
    position: absolute !important;
}

.infomap .four.wide.column .label.small {
    font-weight: 500;
    border-color: rgba(34, 36, 38, .15) !important;
    background: #f0edeb !important;
    top: -2em;
    position: absolute !important;
}

.console {
    height: 500px;
    padding: 0.1em 0 0.1em 0.8em !important;
}

.console .placeholder {
    margin-top: 11px;
    color: #ccc;
}

.console .container {
    overflow-y: auto;
    height: 100%;
}

.console code {
    background: transparent;
    border: none;
}
