.infomap .ui.steps .step .title {
    color: rgba(0, 0, 0, .87) !important;
}

.infomap .ui.steps {
    margin-bottom: 1em !important;
}

.infomap textarea {
    resize: none !important;
    padding-bottom: 0 !important;
    padding-right: 0.4rem !important;
}

.network .button, .output .button {
    margin-bottom: 1em !important;
}

.network .field {
    margin-bottom: 0 !important;
}

.network textarea {
    min-height: calc(500px - 2.1em);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 2px dashed rgba(34, 36, 38, .15) !important;
}

.network .message {
    box-shadow: none !important;
    margin: 0 !important;
    border: 1px solid rgba(34, 36, 38, .15) !important;
    border-top: none !important;
    padding: 0.6em 0.5em !important;
    background: white;
}

.infomap .menu {
    position: relative;
    top: -500px;
    margin: 0 !important;
    border: none !important;
}

.network .menu {
    width: 110px !important;
    right: 110px;
    top: calc(-500px - 0.05em);
}

.network .menu .item.finished:not(.active)::after {
    content: "\2714️";
    margin-left: 5px !important;
}

.output .menu {
    width: 80px !important;
    left: 260px;
}

.output .label.small {
    font-weight: 500;
    border-color: rgba(34, 36, 38, .15) !important;
    background: #f0edeb !important;
    top: -2em;
    position: absolute !important;
}

.output .dropdown {
    margin-bottom: 1em !important;
    text-align: center !important;
}

.output textarea {
    height: 500px !important;
    border-top-right-radius: 0 !important;
}

.run .fields {
    margin-bottom: 1em !important;
}

.run .fields input {
    height: 36px !important;
}

.run .fields button {
    margin-right: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.run .fields .prompt {
    position: absolute !important;
    top: -3em;
}

.run .segment {
    height: 500px;
    padding: 0.1em 0 0.1em 0.8em !important;
}

.run .segment > div {
    overflow-y: auto;
    height: 100%;
}

.run .segment div div {
    margin-top: 0.5em;
    color: #ccc;
}

.run .segment code {
    background: transparent;
    border: none;
    font-size: 0.7rem;
}
