header {
  padding: 10px;
  background: linear-gradient(to bottom, rgba(100, 80, 50, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 30px;
}

.header-menu.ui.menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.mapequation-logo {
  padding-top: 6px;
  width: 57px;
  height: 57px;
}

.brand {
  font-family: Philosopher;
  font-weight: 700;
}

.brand .logo-icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.brand-infomap {
  color: #555;
}

.brand-nn {
  color: #B22222;
  white-space: nowrap;
}

.content {
  padding-left: 10px;
}

.documentation {
  text-shadow: rgba(255, 255, 255, 0.746094) 0 1px 0;
}

.documentation .row {
  margin: 10px 0;
}
