header {
  padding: 10px;
  background: linear-gradient(to bottom, rgba(100, 80, 50, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 20px;
}

.header-menu.ui.menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.mapequation-logo {
  padding-top: 6px;
  width: 57px;
  height: 57px;
}

.content {
  margin-left: 10px;
}

.brand {
  font-family: Philosopher, serif;
  font-weight: 700;
}

.brand .infomap {
  color: #555;
}

.brand .online {
  color: #b22222;
}

.header-menu .icons a:first-child {
  margin-right: 1em;
  margin-left: 10px;
}

.header-menu .ui.header {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.header-menu .sub.header {
  white-space: normal;
}
