.highlight-comment {
  color: rgb(159, 160, 166);
}

.highlight-heading {
  color: rgb(168, 25, 153);
}

.highlight-number {
  color: rgb(51, 114, 232);
}

.highlight-string {
  color: rgb(55, 156, 82);
}
